body {
  background-color: #D2DAFF;
}

h1 {
  color: #0F3460;
}

h3 {
  color: #0F3460;
}

hr {
  border-style: none;
  border-top-style: dashed;
  border-color: #AAC4FF;
  border-width: 2.5px;
}

img {
  height: 150px;
  width: 150px;
}
